.table{
    width:90%;
    border:1px solid;
    border-collapse:collapse;
}

.captionTitle{
    font-size:3em;
    font-weight: bold;
    padding:25px;
    text-decoration:underline;
}
.headerValues{
    font-size:2em;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align:center;
    padding:5px;
    border:2.5px solid;
}

.newRow:nth-child(even) {
    height:25px;
    font-size:2em;
    background-color:rgb(243, 243, 243);
    border:2px solid;
}

.newRow:nth-child(odd) {
    height:25px;
    font-size:2em;
    background-color:rgb(247, 247, 97);
    border:2px solid;
}
.property {
    border:1px solid;
    font-family:Arial, Helvetica, sans-serif;
    text-align:center;
}