#container {
	width: 90%;
	max-width: 1000px;
    background: #FFFFFF;
    margin: 0 auto;	
}

table {
  font-family: 'Arial';
  margin: 25px auto;
  margin: 0 auto;
  text-align: center;
  border-collapse: collapse;
  border: 1px solid #eee;
  border-bottom: 2px solid #00cccc;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.10),
     0px 10px 20px rgba(0,0,0,0.05),
     0px 20px 20px rgba(0,0,0,0.05),
     0px 30px 20px rgba(0,0,0,0.05);
}

tr:hover {
 background: #f4f4f4;
}

td:hover {
 color: #555;
}

tr{
 height: 150px;
}

th, td {
    color: #999;
    border: 1px solid #eee;
    padding: 12px 35px;
    border-collapse: collapse;
    font-size: 1.2em;
    /* width: 100px; */
}

th {
      font-size: 1.7em;
    background: #00cccc;
    color: #fff;
    text-transform: uppercase;
    
}

th.last {
    border-right: none;
}

img { 
    border-radius: 60px;
}

